<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>COMMENTS</title>
</head>
<body>
    <center>
    <form method="post" action="/add_comment">
         <h1> feel free to write whatever you want:)</h1>
        <h2><label>ADD A COMMENT *</label></h2>
    <h3><input type="text"  name="comment" maxlength="280"></h3>
    <h2><input type="submit"/></h2>
    </center>
<center>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIMcFVOylBeE8_wDq4TfBOuhq5B2KTrYzldQ&usqp=CAU" width="400" , length = "400" >
<br>
<br>
<br>
<br>
<h2><a href="/home">back to home page </a></h2>
<h2><a href="/all_comment">view comments</a></h2>
<h2><a href="/">sign out </a></h2>
</center>

<style>
body {
  background-image: url('https://i.pinimg.com/originals/4c/8d/61/4c8d610d601ae7ae71ddc23399b7e1bd.png');
  background-repeat: no-repeat;
   background-size: cover;
}


</style>
</body>
</html>