<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    
</head>
<body>

   <h1 style="color:darkblue;"> comments section :  </h1>
   <h1>---------------------------------------------------------</h1>
   <h2>
    {% for i in comment%}
    
    
    <h1>   :-   {{ comment[i] }}  :- </h1>
    <h1> --------------------------------------------------------- </h1>
    
    
    {% endfor %}


</center>
<br>

<img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/19452/cartoon-cat-face-clipart-md.png" width="400" , length = "400" >

<h2 style="color:darkblue;"> THANK YOU FOR LEAVING A COMMENT !</h2>
<h2><a href="/add_comment">add another comment </a></h2>
<h2><a href="/home">back to home page </a></h2>
<h2><a href="/">sign out </a></h2>
    <style>
body {
  background-image: url('https://i.pinimg.com/originals/4c/8d/61/4c8d610d601ae7ae71ddc23399b7e1bd.png');
  background-repeat: no-repeat;
   background-size: cover;
}
</style>

</body>
</html>