<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page </title>
</head>
<body>
    <form method="post" action="/home">

    <center>
        <h1> WELCOME TO OUR HOME PAGE </h1>
        <h2 > feel free to add comments at the end :)!</h2>
    </center>
    <br>
    <br>
   <div class="row">

  <div class="column">
    <img src="https://www.arenasport.com/media/catalog/product/cache/260852e6baeaefa2b29d3c90545319ca/f/t/ftp_m_magentoproduct_photos00112945_001_xl.jpg" alt="Snow" style="width:70%">
    
     <h2 style="color:purple;"> PRICE : 1200₪</h2>
     
    
     
  </div>

  <div class="column">
    <img src="https://www.arenasport.com/media/catalog/product/cache/260852e6baeaefa2b29d3c90545319ca/f/t/ftp_m_magentoproduct_photos004621500_001_xl.jpg" style="width:70%">
    <h2 style="color:purple;"> PRICE : 150₪</h2>
    
     
    
  </div>
  <div class="column">
    <img src="https://www.arenasport.com/media/catalog/product/cache/260852e6baeaefa2b29d3c90545319ca/f/t/ftp_m_magentoproduct_photos005655518_001_xl.jpg"  style="width:70%">
    <h2 style="color:purple;"> PRICE : 230₪</h2>
    
  </div>
</div>

<div class="row">

  <div class="column">
    <img src="https://www.arenasport.com/media/catalog/product/cache/260852e6baeaefa2b29d3c90545319ca/f/t/ftp_m_magentoproduct_photos004931102_001_xl.jpg" alt="Snow" style="width:70%">
    
     <h2 style="color:purple;"> PRICE : 250₪</h2>
    

    
     
  </div>

  <div class="column">
    <img src="https://www.arenasport.com/media/catalog/product/cache/260852e6baeaefa2b29d3c90545319ca/f/t/ftp_m_magentoproduct_photos002507360_001_xl.jpg" style="width:70%">
    <h2 style="color:purple;"> PRICE : 300₪</h2>
     
    
  </div>
  <div class="column">
    <img src="https://www.arenasport.com/media/catalog/product/cache/260852e6baeaefa2b29d3c90545319ca/f/t/ftp_m_magentoproduct_photos005598999_001_xl.jpg"  style="width:70%">
    <h2 style="color:purple;"> PRICE : 70₪</h2>
  </div>
</div>





<div class="row">

  <div class="column">
    <img src="https://www.arenasport.com/media/wysiwyg/first-level-pages/woman/arena-SS-2021-woman-all-best-seller-800x1000.jpg" alt="Snow" style="width:70%">
    
     <h2 style="color:purple;"> PRICE : 250₪</h2>

    
     
  </div>

  <div class="column">
    <img src="https://www.arenasport.com/media/catalog/product/cache/260852e6baeaefa2b29d3c90545319ca/f/t/ftp_m_magentoproduct_photos003552503_001_xl.jpg" style="width:70%">
    <h2 style="color:purple;"> PRICE : 230₪</h2>
     
    
  </div>
  <div class="column">
    <img src="https://www.arenasport.com/media/catalog/product/cache/9d59ab619f9296fc2bb61901bf9a95ab/0/0/003150103_005_xl.jpg"  style="width:70%">
    <h2 style="color:purple;"> PRICE : 300₪</h2>
  </div>
</div>






<div class="row">

  <div class="column">
    <img src="https://www.arenasport.com/media/catalog/product/cache/260852e6baeaefa2b29d3c90545319ca/f/t/ftp_m_magentoproduct_photos001130235_001_xl.jpg" alt="Snow" style="width:70%">
    
     <h2 style="color:purple;"> PRICE : 900₪</h2>

    
     
  </div>

  <div class="column">
    <img src="https://www.arenasport.com/media/catalog/product/cache/260852e6baeaefa2b29d3c90545319ca/f/t/ftp_m_magentoproduct_photos004653760_001_xl.jpg" style="width:70%">
    <h2 style="color:purple;"> PRICE : 150₪</h2>

  </div>
  <div class="column">
    <img src="https://www.arenasport.com/media/catalog/product/cache/260852e6baeaefa2b29d3c90545319ca/f/t/ftp_m_magentoproduct_photos002496145_001_xl.jpg"  style="width:70%">
    <h2 style="color:purple;"> PRICE : 100₪</h2>
  </div>
</div>
<center>
<h1><a href="/add_comment">click here to add ur comment :)</a></h1>
<h2><a href="/">sign out </a></h2>
</center>
    <style>
body {
  background-image: url('https://i.pinimg.com/originals/4c/8d/61/4c8d610d601ae7ae71ddc23399b7e1bd.png');
  background-repeat: no-repeat;
   background-size: cover;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

   

</style>
</body>
</html>