<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <form method="POST" action="/">
      <center> <h1> HELLO ~ WELCOME TO OUR SWIMMING PRODUCTS ONLINE STORE !!</h1> </center>
       <center><h1> HOPE YOU ENJOY SHOPPING HERE :) </h1></center>
       <br>
       <br>
       <center><h2>
            Create an account before u start shopping !!

        </h2>

 
       <br>
       <br>
       <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/41407/cartoon-dolphin-clipart-xl.png" width= "165" , length = "165" >
       <br>
       <h2> after u signup and submit , u need to signin before starting : </h2>
        <h2>

            Please fill up your information below to sign up.
        </h2>
        <br>



        <!-- Email -->
          <h2>
        <div>
            <label style="color:darkblue;">Email address*</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
                <br> 

            </div>
        </div>

        <!-- Password -->

      
        <div>
            <label style="color:darkblue;">Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>

        <div>
            <label style="color:darkblue;">Phone number*</label>
            <div class="input-group">
                <input type="number"  name="phone_number" length="10">
            </div>
        </div>

<br>
      
         <h2> if you already have an account u just need to sign in !</h2>
        <div>
            <input type="submit"/>
        </div>
    </form>
    <br>
    <br>
    <h2><a href="/signin">signin</a></h2>
    </center>
    </h2>


    <style>
body {
  background-image: url('https://i.pinimg.com/originals/4c/8d/61/4c8d610d601ae7ae71ddc23399b7e1bd.png');
  background-repeat: no-repeat;
   background-size: cover;
}


</style>
</body>
</html>